@font-face {
    font-family: GothamPro; /* Гарнитура шрифта */
    src: url(../fonts/gotham/GothamPro.ttf); /* Путь к файлу со шрифтом */
	font-style: normal;
	font-weight: normal;
}
}

@font-face {
    font-family: GothamProBlack; /* Гарнитура шрифта */
    src: url(../fonts/gotham/GothamPro-BlackItalic.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
    font-family: GothamProLightItalic; /* Гарнитура шрифта */
    src: url(../fonts/gotham/GothamPro-LightItalic.ttf); /* Путь к файлу со шрифтом */
	font-style: normal;
	font-weight: normal;
}


@font-face {
    font-family: GothamProBold; /* Гарнитура шрифта */
    src: url(../fonts/gotham/GothamPro-Bold.ttf); /* Путь к файлу со шрифтом */
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: GothamProNarrowblod; /* Гарнитура шрифта */
    src: url(../fonts/gotham/GothamProNarrow-Bold.ttf); /* Путь к файлу со шрифтом */
	font-style: normal;
	font-weight: normal;
}


@font-face {
    font-family: GothamProBoldItalic; /* Гарнитура шрифта */
    src: url(../fonts/gotham/GothamPro-BoldItalic.ttf); /* Путь к файлу со шрифтом */
	font-style: normal;
	font-weight: normal;
}

