*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}
a:hover {text-decoration: none;}
body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'GothamPro', sans-serif;
	overflow-x: hidden;
}
 header, section.thank {
  background-image: url("../img/thank.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 100%;
	width: auto;
	padding: 40px 0 120px 0;
}section.thank {
	background-image: url("../img/thank.jpg");
	padding: 120px 0 200px 0;
}
.form_comics {
    width: 60%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: auto;
    position: relative;
    background: #fff;
    padding: 20px 30px;
    margin: 0 auto;
    border: 3px solid #f53a3aeb;
}.form_comics h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'GothamProNarrowblod', sans-serif;
}.form_comics h1 span { color: #f53a3aeb;}
.form_comics form input {
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
}button.btn {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background: none;
    color: #333;
    border: 3px solid #f54949;
}button.btn:hover {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background: #f54949;
    color: #fff;
    border: 3px solid #f54949;
}.form_comics p {text-align: center;}
section.thank h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GothamProNarrowblod', sans-serif;
    display: block;
    font-size: 58px;
} section.thank h1 span { color: #ffcc66; }
section.thank p {
	text-align: center;
	color: #fff;
	font-size: 30px;
}
section.thank button {
   margin: 10px auto;
   background: none;
   color: #fff;
   text-transform: uppercase;
   font-family: 'GothamProNarrowblod', sans-serif;
   width: 30%;
   height: 60px;
   border: 2px solid #ffcc66;
   font-weight: 900;
   font-size: 24px;
   display: block;
   background-image: linear-gradient(to left,transparent,transparent 50%,#ffcc66 50%,#ffcc66);
   background-position: 100% 0;
   background-size: 200% 100%;
   transition: all .25s ease-in;
}section.thank button:hover {
  background-position: 0 0;
  color:#fff;
}.sotsseti {
    text-align: center;
}